$primary-color: black;
$secundary-color:rgb(194, 9, 9);
$tertiary-color: rgba(46, 44, 44, 0.479);
// COMPONENTES
@import "components/body";
@import "components/header";
@import "components/footer";

// PÁGINAS
@import "secciones/index";
@import "secciones/circuitos";
@import "secciones/contacto";
@import "secciones/escuderias";
@import "secciones/neumaticos";
@import "secciones/pilotos";


//ELEMENTOS
@import "elementos/titulos";
@import "elementos/botones";
@import "elementos/inputs";

// RESPONSIVE
@import "responsive/responsive";


@keyframes girarRueda {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}