* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/FONDOSILUETA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  line-height: 1.5;
}

.site-header {
  width: 100%;
  background-color: black;
  border-bottom: 4px solid #e10600;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.site-nav {
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.menu li a:hover {
  color: #e10600;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid red;
}

footer a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: red;
}

/* INDEX */
.main-inicio {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(47, 44, 44, 0.465);
  border-radius: 15px;
}

section {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(47, 44, 44, 0.465);
  border-radius: 15px;
}

.card-inicio:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.08); /* Se agranda */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Glow opcional */
  z-index: 2;
}

.info {
  flex: 1;
}

.info h2 {
  color: #bd0a0a;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.info h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  border-left: 4px solid #bd0a0a;
  padding-left: 0.6rem;
  margin-bottom: 1rem;
}

.info p {
  font-size: 0.9rem;
  color: #d0d0d0;
  margin-bottom: 1.5rem;
}

.circuit-img {
  flex: 1;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 15px 3px #b21414;
}

.circuit-img img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

main {
  position: relative;
  z-index: 1;
}

#menu-toggle {
  display: none;
}

/*CIRCUITOS*/
.grid-item-circuitos {
  background-color: rgba(46, 44, 44, 0.479);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.grid-item-circuitos h2 {
  color: white;
  margin-bottom: 15px;
  text-decoration: underline;
  font-size: 35px;
  padding-left: 20px;
}

.circuitos-content {
  display: flex;
  gap: 20%;
  align-items: center;
}

.circuitos-content img {
  width: 40%;
  border-radius: 10px;
  padding-left: 30px;
}

.circuitos-content ul {
  list-style: none;
  color: white;
  font-size: 20px;
  border-left: 4px solid rgb(255, 0, 0);
  padding-left: 3%;
  border-right: 4px solid red;
  padding-right: 3%;
}

.circuitos-content ul li {
  margin-bottom: 8px;
}

/*CONTACTO*/
.cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 300px;
  margin: 30px auto;
  padding: 25px;
  background: rgba(46, 44, 44, 0.479);
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 0 0 10px red;
}

.cuadro h2 {
  color: rgb(255, 255, 255);
  border-left: 5px solid red;
  padding-left: 5px;
}

.cuadro p {
  color: white;
  margin: auto;
}

.contacto p {
  margin: 5px 0;
  font-size: 1rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qr img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

/*ESCUDERIAS*/
.grid-escuderias {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(10, 500px);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.grid-item-piloto-1 {
  background-color: rgba(46, 44, 44, 0.479);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid 3px black;
}

.grid-info-auto p {
  display: block;
  background-color: rgba(46, 44, 44, 0.479);
  border-radius: 10px;
  margin-top: 32%;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.grid-info-auto h2 {
  font-size: 45px;
  text-decoration: overline;
}

.grid-item-piloto-2 {
  border-radius: 10px;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

#grid-escuderias-1 {
  background-image: url(../img/LandoNorris\ _3.jpeg);
}

#grid-escuderias-2 {
  background-image: url(../img/OscarPiastri.jpeg);
}

#grid-escuderias-3 {
  background-image: url(../img/MaxVerstappen.jpeg);
}

#grid-escuderias-4 {
  background-image: url(../img/YukiTsunoda.jpeg);
}

#grid-escuderias-5 {
  background-image: url(../img/CharlesLeclerc.jpeg);
}

#grid-escuderias-6 {
  background-image: url(../img/LewisHamilton.jpeg);
}

#grid-escuderias-7 {
  background-image: url(../img/GeorgeRussell.jpeg);
}

#grid-escuderias-8 {
  background-image: url(../img/KimiAntonelli.jpeg);
}

#grid-escuderias-9 {
  background-image: url(../img/FernandoAlonso.jpeg);
}

#grid-escuderias-10 {
  background-image: url(../img/LanceStroll.jpeg);
}

#grid-escuderias-11 {
  background-image: url(../img/CarlosSainz.jpeg);
}

#grid-escuderias-12 {
  background-image: url(../img/AlexanderAlbon.jpeg);
}

#grid-escuderias-13 {
  background-image: url(../img/LiamLawson.jpeg);
}

#grid-escuderias-14 {
  background-image: url(../img/IsackHadjar.jpeg);
}

#grid-escuderias-15 {
  background-image: url(../img/PierreGasly.jpeg);
}

#grid-escuderias-16 {
  background-image: url(../img/FrancoColapinto.jpeg);
}

#grid-escuderias-17 {
  background-image: url(../img/NicoHulkenberg.jpeg);
}

#grid-escuderias-18 {
  background-image: url(../img/GabrielBortoleto.jpeg);
}

#grid-escuderias-19 {
  background-image: url(../img/EstebanOcon.jpeg);
}

#grid-escuderias-20 {
  background-image: url(../img/OliverBearman.jpeg);
}

.grid-info-auto {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.63);
  background-color: rgba(46, 44, 44, 0.363);
}

#auto-1 {
  background-image: url(../img/2025mclarencarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-1 h2 {
  background: linear-gradient(80deg, #ffae00, #292727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  padding-bottom: 60px;
}

#auto-2 {
  background-image: url(../img/2025redbullracingcarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-2 h2 {
  background: linear-gradient(90deg, #0000ff, #312f2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

#auto-3 {
  background-image: url(../img/2025ferraricarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-3 h2 {
  background: linear-gradient(90deg, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

#auto-4 {
  background-image: url(../img/2025mercedescarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-4 h2 {
  background: linear-gradient(90deg, #04ffea, #363535);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-bottom: 80px;
}

#auto-5 {
  background-image: url(../img/2025astonmartincarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-5 h2 {
  background: linear-gradient(90deg, #05492d, #494646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-bottom: 80px;
}

#auto-6 {
  background-image: url(../img/2025williamscarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-6 h2 {
  background: linear-gradient(90deg, #0000ff, #464242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

#auto-7 {
  background-image: url(../img/2025racingbullscarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-7 h2 {
  background: linear-gradient(90deg, #00a2ff, #252424);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-bottom: 80px;
}

#auto-8 {
  background-image: url(../img/2025alpinecarright-removebg-preview\ \(1\).png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-8 h2 {
  background: linear-gradient(90deg, #d85f97, #444242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

#auto-9 {
  background-image: url(../img/2025kicksaubercarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-9 h2 {
  background: linear-gradient(90deg, #11bd1f, #444242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

#auto-10 {
  background-image: url(../img/2025haascarright-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#auto-10 h2 {
  background: linear-gradient(90deg, #ffffff, #575353);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 60px;
}

.grid-item-piloto-1, .grid-item-piloto-2, .grid-info-auto {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item-piloto-1:hover, .grid-item-piloto-2:hover, .grid-info-auto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 250, 250, 0.609);
  z-index: 2;
}

/*NEUMATICOS*/
.container-neumaticos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  background: none;
}

.card-neumatico {
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 85%;
  padding: 20px 30px;
  border-left: 4px solid rgb(255, 0, 0);
  padding-left: 3%;
  border-right: 4px solid red;
  padding-right: 3%;
  border-radius: 20px;
  background-color: rgba(46, 44, 44, 0.479);
}

.card-neumatico img {
  width: 350px;
  height: 350px;
  margin-right: 40px;
  animation: girarRueda 3s linear infinite;
  transition: filter 0.2s ease, transform 0.2s ease;
}

.card-neumatico img:hover {
  animation-duration: 0.4s;
  filter: blur(1px);
  transform: scale(1);
}

.info-neumaticos h2 {
  margin-bottom: 10px;
  font-size: 40px;
  padding-left: 25%;
  text-decoration: underline;
}

.neumatico-blanco {
  color: rgb(255, 255, 255);
}

.neumatico-amarillo {
  color: rgb(228, 205, 5);
}

.neumatico-rojo {
  color: red;
}

.neumatico-verde {
  color: #11bd1f;
}

.neumatico-azul {
  color: #1d1d8d;
}

.info-neumaticos ul {
  list-style: none;
  font-size: 25px;
  padding-left: 25%;
  margin: 0;
  color: rgb(255, 251, 251);
}

.info-neumaticos li {
  font-size: 25px;
}

.info-neumaticos ul li strong {
  font-weight: bold;
  text-decoration: underline;
  padding-right: 15px;
}

@keyframes girarRueda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*PILOTOS*/
.grid-pilotos {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(20, 500px);
  align-content: center;
  justify-content: center;
}

.grid-item {
  background-color: rgba(46, 44, 44, 0.479);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid 3px rgb(0, 0, 0);
}

.grid-item:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 250, 250, 0.609);
  z-index: 2;
}

#grid-1 {
  background-image: url(../img/LandoNorris\ _3.jpeg);
}

#grid-2 {
  background-image: url(../img/OscarPiastri.jpeg);
}

#grid-3 {
  background-image: url(../img/MaxVerstappen.jpeg);
}

#grid-4 {
  background-image: url(../img/GeorgeRussell.jpeg);
}

#grid-5 {
  background-image: url(../img/CharlesLeclerc.jpeg);
}

#grid-6 {
  background-image: url(../img/LewisHamilton.jpeg);
}

#grid-7 {
  background-image: url(../img/KimiAntonelli.jpeg);
}

#grid-8 {
  background-image: url(../img/AlexanderAlbon.jpeg);
}

#grid-9 {
  background-image: url(../img/NicoHulkenberg.jpeg);
}

#grid-10 {
  background-image: url(../img/IsackHadjar.jpeg);
}

#grid-11 {
  background-image: url(../img/CarlosSainz.jpeg);
}

#grid-12 {
  background-image: url(../img/FernandoAlonso.jpeg);
}

#grid-13 {
  background-image: url(../img/OliverBearman.jpeg);
}

#grid-14 {
  background-image: url(../img/LanceStroll.jpeg);
}

#grid-15 {
  background-image: url(../img/LiamLawson.jpeg);
}

#grid-16 {
  background-image: url(../img/EstebanOcon.jpeg);
}

#grid-17 {
  background-image: url(../img/YukiTsunoda.jpeg);
}

#grid-18 {
  background-image: url(../img/PierreGasly.jpeg);
}

#grid-19 {
  background-image: url(../img/GabrielBortoleto.jpeg);
}

#grid-20 {
  background-image: url(../img/FrancoColapinto.jpeg);
}

.grid-pilotos h2 {
  font-size: 42px;
  text-decoration: overline rgb(0, 0, 0);
  color: white;
}

.grid-pilotos ul {
  margin-top: 10px;
  list-style: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(46, 44, 44, 0.305), rgba(46, 44, 44, 0.068), rgba(46, 44, 44, 0.305));
  position: relative;
  padding: 15px;
}

.grid-item-info-1 {
  background-image: url(../img/mclaren-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-1:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.6078431373);
  z-index: 2;
}

.grid-item-info-2 {
  background-image: url(../img/mclaren-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-2:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.6078431373);
  z-index: 2;
}

.grid-item-info-3 {
  background-image: url(../img/red-bull-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-3:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(28, 4, 242, 0.609);
  z-index: 2;
}

.grid-item-info-4 {
  background-image: url(../img/mercedes-minii.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-4:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 234, 255, 0.609);
  z-index: 2;
}

.grid-item-info-5 {
  background-image: url(../img/ferrari-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-5:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.609);
  z-index: 2;
}

.grid-item-info-6 {
  background-image: url(../img/ferrari-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-6:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.609);
  z-index: 2;
}

.grid-item-info-7 {
  background-image: url(../img/mercedes-minii.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-7:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 234, 255, 0.609);
  z-index: 2;
}

.grid-item-info-8 {
  background-image: url(../img/williams-mini-.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-8:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(35, 2, 255, 0.609);
  z-index: 2;
}

.grid-item-info-9 {
  background-image: url(../img/stake-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-9:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 240, 20, 0.609);
  z-index: 2;
}

.grid-item-info-10 {
  background-image: url(../img/red-bull-visa-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-10:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(20, 0, 243, 0.609);
  z-index: 2;
}

.grid-item-info-11 {
  background-image: url(../img/williams-mini-.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-11:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(35, 2, 255, 0.609);
  z-index: 2;
}

.grid-item-info-12 {
  background-image: url(../img/aston-martin-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-12:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 90, 41, 0.609);
  z-index: 2;
}

.grid-item-info-13 {
  background-image: url(../img/Haas-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-13:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 250, 250, 0.609);
  z-index: 2;
}

.grid-item-info-14 {
  background-image: url(../img/aston-martin-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-14:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 90, 41, 0.609);
  z-index: 2;
}

.grid-item-info-15 {
  background-image: url(../img/red-bull-visa-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-15:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(20, 0, 243, 0.609);
  z-index: 2;
}

.grid-item-info-16 {
  background-image: url(../img/Haas-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-16:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 250, 250, 0.609);
  z-index: 2;
}

.grid-item-info-17 {
  background-image: url(../img/red-bull-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-17:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(13, 0, 255, 0.609);
  z-index: 2;
}

.grid-item-info-18 {
  background-image: url(../img/alpine-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-18:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(12, 121, 176, 0.609);
  z-index: 2;
}

.grid-item-info-19 {
  background-image: url(../img/stake-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-19:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 240, 20, 0.609);
  z-index: 2;
}

.grid-item-info-20 {
  background-image: url(../img/alpine-mini.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.grid-item-info-20:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(12, 121, 176, 0.609);
  z-index: 2;
}

h1 {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bold;
}

.otras-novedades {
  color: white;
}

.btn-info {
  background: linear-gradient(90deg, #c20000, #ff1a1a);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-info:hover {
  background-color: #a3050d;
}

button {
  background: linear-gradient(90deg, #c20000, #ff1a1a);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

input[type=email] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
}

/* ---------- VISTA MOBILE ---------- */
@media (max-width: 480px) {
  .site-header {
    padding: 10px 15px;
  }
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  .site-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.9490196078);
    border-top: 1px solid #444;
    z-index: 10;
  }
  .menu-toggle:checked + .menu-icon + .site-nav {
    display: block;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px 0 16px;
    border-bottom: 3px solid red;
  }
  .menu li a {
    width: 100%;
    text-align: center;
    padding: 4px 0;
    font-size: 16px;
  }
  /* INDEX */
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    background-color: rgba(47, 44, 44, 0.465);
    border-radius: 15px;
  }
  main h2 {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  main img {
    width: 90%;
    max-width: 390px;
    max-height: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  main h3 {
    font-size: 17px;
    margin-bottom: 7px;
  }
  main p {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 0 7px;
  }
  main button .btn-info {
    display: block;
    margin: 0 auto;
    font-size: 15px;
  }
  /* ESCUDERIAS */
  .grid-escuderias {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10);
    gap: 18px;
    justify-items: center;
    padding: 10px 12px;
    box-sizing: border-box;
  }
  .grid-item-piloto-1,
  .grid-item-piloto-2 {
    display: none;
  }
  .grid-info-auto {
    position: relative;
    height: 500px;
    width: 400px;
    padding-bottom: 50px;
  }
  .grid-info-auto h2 {
    text-align: center;
    font-size: 35px;
  }
  .grid-info-auto p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  /*CIRCUITOS*/
  .grid-item-circuitos {
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .grid-item-circuitos h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .circuitos-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .circuitos-content img {
    width: 85%;
    max-width: 400px;
  }
  .circuitos-content ul {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 290px;
    text-align: left;
  }
  .circuitos-content ul li {
    margin-bottom: 6px;
    font-size: 16px;
  }
  /*PILOTOS*/
  .grid-pilotos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grid-item,
  .grid-item-info-1,
  .grid-item-info-2,
  .grid-item-info-3,
  .grid-item-info-4,
  .grid-item-info-5,
  .grid-item-info-6,
  .grid-item-info-7,
  .grid-item-info-8,
  .grid-item-info-9,
  .grid-item-info-10,
  .grid-item-info-11,
  .grid-item-info-12,
  .grid-item-info-13,
  .grid-item-info-14,
  .grid-item-info-15,
  .grid-item-info-16,
  .grid-item-info-17,
  .grid-item-info-18,
  .grid-item-info-19,
  .grid-item-info-20 {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .grid-item {
    height: 450px;
    background-size: cover;
    background-position: center;
  }
  .grid-item-info-1-2 {
    margin-top: -5px;
    padding: 20px;
    font-size: 20px;
    width: 90%;
  }
  .grid-item-info-1 h2,
  .grid-item-info-2 h2,
  .grid-item-info-3 h2,
  .grid-item-info-4 h2,
  .grid-item-info-5 h2,
  .grid-item-info-6 h2,
  .grid-item-info-7 h2,
  .grid-item-info-8 h2,
  .grid-item-info-9 h2,
  .grid-item-info-10 h2,
  .grid-item-info-11 h2,
  .grid-item-info-12 h2,
  .grid-item-info-13 h2,
  .grid-item-info-14 h2,
  .grid-item-info-15 h2,
  .grid-item-info-16 h2,
  .grid-item-info-17 h2,
  .grid-item-info-18 h2,
  .grid-item-info-19 h2,
  .grid-item-info-20 h2 {
    font-size: 28px;
  }
  /*NEUMATICOS*/
  .container-neumaticos {
    padding: 20px 10px;
    gap: 15px;
  }
  .card-neumatico {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 15px 12px;
    border-radius: 16px;
  }
  .card-neumatico img {
    width: 60%;
    max-width: 220px;
    height: auto;
    margin: 0 0 10px 0;
  }
  .info-neumaticos {
    width: 90%;
    text-align: start;
  }
  .info-neumaticos h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 0;
    text-align: center;
  }
  .info-neumaticos ul {
    list-style: none;
    padding-left: 5%;
    margin: 0;
    font-size: 18px;
  }
  .info-neumaticos li {
    font-size: 18px;
    line-height: 1.4;
  }
  .info-neumaticos ul li strong {
    padding-right: 5px;
  }
  main:hover {
    display: none;
  }
  /*CONTACTO*/
  .cuadro {
    width: 80%;
    margin: 10px auto 20px auto;
    padding: 20px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
  }
  .cuadro p {
    font-size: 16px;
    margin: 0;
  }
  .cuadro.suscripcion p {
    text-align: center;
  }
  .cuadro.suscripcion form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cuadro.suscripcion input[type=email],
  .cuadro.suscripcion button {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
  .cuadro.suscripcion button {
    font-weight: bold;
    cursor: pointer;
  }
  .cuadro.qr {
    align-items: center;
    text-align: center;
  }
  .cuadro.qr img {
    width: 70%;
    max-width: 220px;
    height: auto;
    margin-top: 10px;
  }
}
@keyframes girarRueda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
