

                /*CIRCUITOS*/

#circuitos {
    max-width: 95%;          
    margin: 0 auto;
    padding: 20px 0 80px;
    background-color: transparent;
}

.grid-item-circuitos {
    @include card-box($tertiary-color, 35px 30px, 20px);
    height: 100%;
}

.grid-item-circuitos h2 {
    @extend .titulo-subrayado;
    color: #fff;
}


.circuitos-content {
    @include flex-exact(row, 35px, center);        
}

.circuitos-content img {
    width: 60%;              
    max-width: 450px;       
    border-radius: 12px;
    object-fit: contain;
}

.circuitos-content ul {
    width: 100%;
    list-style: none;
    padding: 18px 24px;    
    font-size: 1.15rem;    
    color: #fff;
    border-left: 4px solid #e10600;
    border-right: 4px solid #ff0800;
    border-radius: 10px;
    line-height: 1.50;       
}

.circuitos-content ul li {
    margin-bottom: 12px;    
}

