
                    /*CONTACTO*/

.cuadro {
@include flex-exact(column, 0, center);
    width: 40%;
    height: 300px;
    margin: 30px auto;
@include card-box($tertiary-color, 25px, 15px);
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}

.cuadro h2 {
    @extend .titulo-subrayado;
    @include left-border($secondary-color, 5px);
    color: white;
}

.cuadro p{
    color: white;
    margin: auto;
}
.contacto p {
    margin: 5px 0;
    font-size: 1rem;
    color: white;
}
form {
@include flex-exact(column, 10px, stretch);
}
.qr img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
}

