
                /*ESCUDERIAS*/

.grid-escuderias{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(10,500px);
    align-content: center;
    justify-content: center;
    text-align: center;
}
.grid-item-piloto-1{
    background-color:  rgba(46, 44, 44, 0.479);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid 3px black;
}
.grid-info-auto p{
    display: block;
    background-color:  rgba(46, 44, 44, 0.479);
    border-radius: 10px;
    margin-top: 32%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}
.grid-info-auto h2{
    font-size: 45px;
    text-decoration: overline;
}
.grid-item-piloto-2{
    border-radius: 10px;
    margin: 10px;   
    background-size: contain;
    background-repeat: no-repeat;
}
#grid-escuderias-1{
        background-image: url(../img/LandoNorris\ _3.jpeg );
}
#grid-escuderias-2{
    background-image: url(../img/OscarPiastri.jpeg);
}
#grid-escuderias-3{
        background-image: url(../img/MaxVerstappen.jpeg );
}
#grid-escuderias-4{
    background-image: url(../img/YukiTsunoda.jpeg)
}
#grid-escuderias-5{
        background-image: url(../img/CharlesLeclerc.jpeg );
}
#grid-escuderias-6{
    background-image: url(../img/LewisHamilton.jpeg)
}
#grid-escuderias-7{
        background-image: url(../img/GeorgeRussell.jpeg );
}
#grid-escuderias-8{
    background-image: url(../img/KimiAntonelli.jpeg);
}
#grid-escuderias-9{
        background-image: url(../img/FernandoAlonso.jpeg );
}
#grid-escuderias-10{
    background-image: url(../img/LanceStroll.jpeg);
}
#grid-escuderias-11{
        background-image: url(../img/CarlosSainz.jpeg );
}
#grid-escuderias-12{
    background-image: url(../img/AlexanderAlbon.jpeg);
}
#grid-escuderias-13{
        background-image: url(../img/LiamLawson.jpeg );
}
#grid-escuderias-14{
    background-image: url(../img/IsackHadjar.jpeg);
}
#grid-escuderias-15{
        background-image: url(../img/PierreGasly.jpeg );
}
#grid-escuderias-16{
    background-image: url(../img/FrancoColapinto.jpeg);
}
#grid-escuderias-17{
        background-image: url(../img/NicoHulkenberg.jpeg );
}
#grid-escuderias-18{
    background-image: url(../img/GabrielBortoleto.jpeg);
}#grid-escuderias-19{
        background-image: url(../img/EstebanOcon.jpeg );
}
#grid-escuderias-20{
    background-image: url(../img/OliverBearman.jpeg);
}

.grid-info-auto {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.63);
    background-color: rgba(46, 44, 44, 0.363);
}
#auto-1{
    background-image: url(../img/2025mclarencarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-1 h2{
    background: linear-gradient(80deg, #ffae00, #292727);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 60px;
}
#auto-2{
    background-image: url(../img/2025redbullracingcarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-2 h2{
    background: linear-gradient(90deg, #0000ff, #312f2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
    
}
#auto-3{
    background-image: url(../img/2025ferraricarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-3 h2{
    background: linear-gradient(90deg, #ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
}
#auto-4{
    background-image: url(../img/2025mercedescarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-4 h2{
    background: linear-gradient(90deg, #04ffea, #363535);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding-bottom: 80px;
}
#auto-5{
    background-image: url(../img/2025astonmartincarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-5 h2{
    background: linear-gradient(90deg, #05492d, #494646);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding-bottom: 80px;
}
#auto-6{
    background-image: url(../img/2025williamscarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-6 h2{
    background: linear-gradient(90deg, #0000ff, #464242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
}
#auto-7{
    background-image: url(../img/2025racingbullscarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-7 h2{
    background: linear-gradient(90deg, #00a2ff, #252424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding-bottom: 80px;
}
#auto-8{
    background-image: url(../img/2025alpinecarright-removebg-preview\ \(1\).png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-8 h2{
    background: linear-gradient(90deg, #d85f97, #444242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
}
#auto-9{
    background-image: url(../img/2025kicksaubercarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-9 h2{
    background: linear-gradient(90deg, #11bd1f, #444242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
}
#auto-10{
    background-image: url(../img/2025haascarright-removebg-preview.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#auto-10 h2{
    background: linear-gradient(90deg, #ffffff, #575353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 60px;
}

.grid-item-piloto-1, .grid-item-piloto-2, .grid-info-auto {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item-piloto-1:hover,.grid-item-piloto-2:hover,.grid-info-auto:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.609); 
    z-index: 2;                    
}
