
                    /* INDEX */

.main-inicio {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 0 1rem; 
    background-color: $tertiary-color;
    border-radius: 15px;    
}
section{
        max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 0 1rem; 
    background-color:$tertiary-color;
    border-radius: 15px;  
}
.card-inicio:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.08);          
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); 
    z-index: 2;
}
.info {
    flex: 1;
}
.info h2 {
    color: $secundary-color;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 1.5rem;
}
.info h3 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    border-left: 4px solid $secundary-color;
    padding-left: 0.6rem;
    margin-bottom: 1rem;
}
.info p {
    font-size: 0.9rem;
    color: #d0d0d0;
    margin-bottom: 1.5rem;
}
.circuit-img {
    flex: 1;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px $secundary-color;
}
.circuit-img img {
    width: 100%;
    border-radius: 15px;
    display: block;
}
main {
    position: relative;
    z-index: 1;
}
#menu-toggle{
    display: none;
}

