/*NEUMATICOS*/
.container-neumaticos {
@include flex-exact(column, 20px, center);
    padding: 40px 0;
    background: none;
}
.card-neumatico {
@include flex-exact(row, 0, center); 
@include card-box($tertiary-color, 20px 30px, 23px);
    border-left: 4px solid $secondary-color;
    padding-left: 3%;
    border-right: 4px solid $secondary-color;
    padding-right: 3%;
    width: 85%;
}
.card-neumatico img {
    width: 350px;
    height: 350px;
    margin-right: 40px;
    animation: girarRueda 3s linear infinite;
    transition: filter 0.2s ease, transform 0.2s ease;
}
.card-neumatico img:hover {
    animation-duration: 0.4s; 
    filter: blur(1px);           
    transform: scale(1.0);      
}
.info-neumaticos h2 {
    @extend .titulo-subrayado;
    font-size: 40px; 
}

.info-neumaticos ul {
    list-style: none;
    font-size: 25px;
    padding-left: 25%;
    margin: 0;
    color: rgb(255, 251, 251);
}
.info-neumaticos li {
    font-size: 25px;
}
.info-neumaticos ul li strong {
    font-weight: bold;
    text-decoration: underline;
    padding-right: 15px;
}
@keyframes girarRueda {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.neumatico-blanco{ 
    color: rgb(255, 255, 255);
}
.neumatico-amarillo{
    color: rgb(228, 205, 5);
}
.neumatico-rojo{
    color: red;
}
.neumatico-verde{
    color: #11bd1f;
}
.neumatico-azul{
    color: #1d1d8d;
}