
.pilotos-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;    
}

.piloto-row {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 30px;;

}

.piloto-img {
    width: 600px;
    height: 670px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.piloto-img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.45);
}

.info-card {
    width: 600px;
    height: 670px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 1;
}


.info-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    color: white;
}

.info-content h2 {
    font-size: 34px;
    margin-bottom: 95px;
    @extend .titulo-subrayado-grande;
}

.info-content ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.13);
    font-size: 18px;
    line-height: 1.5rem;
}

.info-card:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}

.piloto-foto {
    position: relative;
    width: 670px;
    height: 670px;

}


.piloto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.casco-norris {
    position: absolute;
    top: -125px;  
    left: 50%;
    transform: translateX(-50%) scale(0.85);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;       
}


.piloto-foto:hover .casco-norris {
    opacity: 0;  
}


.casco-piastri {
    position: absolute;
    top: -120px;               
    left: 49%;
    transform: translateX(-50%) scale(0.85); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;       
}


.piloto-foto:hover .casco-piastri {
    opacity: 0;  
}


.casco-max {
    position: absolute;
    top: -115px;        
    left: 51%;
    transform: translateX(-50%) scale(0.70); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;     
}


.piloto-foto:hover .casco-max {
    opacity: 0;  
}

.casco-russell {
    position: absolute;
    top: -108px;              
    left: 50%;
    transform: translateX(-50%) scale(0.87); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;    
}


.piloto-foto:hover .casco-russell {
    opacity: 0;  
}

.casco-leclerc {
    position: absolute;
    top: -110px;              
    left: 50%;
    transform: translateX(-50%) scale(0.74); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;    
}


.piloto-foto:hover .casco-leclerc {
    opacity: 0;  
}

.casco-hamilton {
    position: absolute;
    top: -100px;           
    left: 49%;
    transform: translateX(-50%) scale(0.73); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;  
}


.piloto-foto:hover .casco-hamilton {
    opacity: 0;  
}

.casco-antonelli {
    position: absolute;
    top: -105px;     
    left: 50%;
    transform: translateX(-50%) scale(0.77);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;  
}


.piloto-foto:hover .casco-antonelli {
    opacity: 0;  
}

.casco-albon {
    position: absolute;
    top: -112px;           
    left: 50%;
    transform: translateX(-50%) scale(0.88);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;     
}


.piloto-foto:hover .casco-albon {
    opacity: 0;  
}

.casco-hulkenberg {
    position: absolute;
    top: -75px;         
    left: 50%;
    transform: translateX(-50%) scale(0.83);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;   
}


.piloto-foto:hover .casco-hulkenberg {
    opacity: 0;  
}

.casco-hadjar {
    position: absolute;
    top: -70px;        
    left: 50%;
    transform: translateX(-50%) scale(0.92);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;      
}


.piloto-foto:hover .casco-hadjar {
    opacity: 0;  
}

.casco-sainz {
    position: absolute;
    top: -115px;            
    left: 47%;
    transform: translateX(-50%) scale(0.75);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;  
}


.piloto-foto:hover .casco-sainz {
    opacity: 0;  
}

.casco-alonso {
    position: absolute;
    top: -130px;     
    left: 51%;
    transform: translateX(-50%) scale(0.75);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;   
}


.piloto-foto:hover .casco-alonso {
    opacity: 0;  
}

.casco-baerman {
    position: absolute;
    top: -122px;           
    left: 52%;
    transform: translateX(-50%) scale(0.90); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;   
}


.piloto-foto:hover .casco-baerman {
    opacity: 0;  
}

.casco-stroll {
    position: absolute;
    top: -130px;         
    left: 50%;
    transform: translateX(-50%) scale(0.90); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;    
}


.piloto-foto:hover .casco-stroll {
    opacity: 0;  
}

.casco-lawson {
    position: absolute;
    top: -90px;       
    left: 50%;
    transform: translateX(-50%) scale(0.85);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none; 
}


.piloto-foto:hover .casco-lawson {
    opacity: 0;  
}

.casco-ocon {
    position: absolute;
    top: -95px;     
    left: 51%;
    transform: translateX(-50%) scale(0.88); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;  
}


.piloto-foto:hover .casco-ocon {
    opacity: 0;  
}

.casco-tsunoda {
    position: absolute;
    top: -91px;        
    left: 50%;
    transform: translateX(-50%) scale(0.80);
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;     
}


.piloto-foto:hover .casco-tsunoda {
    opacity: 0;  
}

.casco-gasly {
    position: absolute;
    top: -100px;            
    left: 51%;
    transform: translateX(-50%) scale(0.81); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;     
}


.piloto-foto:hover .casco-gasly {
    opacity: 0;  
}

.casco-bortoleto {
    position: absolute;
    top: -75px;           
    left: 51%;
    transform: translateX(-50%) scale(0.90); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;   
}


.piloto-foto:hover .casco-bortoleto {
    opacity: 0;  
}

.casco-colapinto {
    position: absolute;
    top: -69px;        
    left: 51%;
    transform: translateX(-50%) scale(0.77); 
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;   
}

.piloto-foto:hover .casco-colapinto {
    opacity: 0;  
}
