
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image:url(../img/FONDOSILUETA.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 1.5; 
}